@charset "UTF-8";

@import url(~normalize.css);

/* /Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1em;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* /Обнуление*/

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("/fonts/Roboto-Regular.woff") format("woff"), url("/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("/fonts/Roboto-Medium.woff") format("woff"), url("/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("/fonts/Roboto-Bold.woff") format("woff"), url("/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.log-out__email,
.settings__acc-name,
.settings__acc-email {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.list-elem,
.settings__acc,
.settings__item {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  grid-template-columns: 1fr auto auto;
  margin-top: 30px;
  padding: 20px 30px;
  width: 70%;
  line-height: 1.2;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.list-elem:hover,
.settings__acc:hover,
.settings__item:hover {
  -webkit-box-shadow: 0 0 20px #666;
          box-shadow: 0 0 20px #666;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #cbc4cc;
}

.header {
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: #7d93c8;
}

.header__authorization {
  margin-left: auto;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #32448c;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__authorization:hover {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.header__authorization:active {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

#burger-menu__toggle {
  opacity: 0;
  position: absolute;
}

#burger-menu__toggle ~ .modal-sidebar {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  left: -150%;
}

#burger-menu__toggle:checked ~ .modal-sidebar {
  left: 0%;
}

#burger-menu__toggle:checked ~ .burger-menu__btn > span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#burger-menu__toggle:checked ~ .burger-menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

#burger-menu__toggle:checked ~ .burger-menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.burger-menu {
  display: none;
  margin-right: 15px;
}

.burger-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: relative;
}

.burger-menu__btn > span,
.burger-menu__btn > span::before,
.burger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #32448c;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.burger-menu__btn > span::before {
  content: '';
  top: -10px;
}

.burger-menu__btn > span::after {
  content: '';
  top: 10px;
}

.logo {
  color: #fff;
  font-size: 30px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  color: #fff;
  border-radius: 50%;
  background-color: green;
}

.user__is-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.log-out {
  display: none;
  grid-template-columns: 1fr auto;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  padding: 10px;
  color: #32448c;
  background-color: #81b622;
}

.log-out_is-open {
  display: grid;
}

.log-out__email {
  grid-column: -1 / 1;
  font-size: 16px;
}

.log-out__btn {
  padding: 10px;
  width: 50%;
  color: #32448c;
  background-color: #fff;
}

.log-out__close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  color: #32448c;
  background-color: #fff;
}

.main {
  padding-top: 60px;
  padding-left: 250px;
}

.sidebar {
  position: fixed;
  top: 60px;
  height: 100vh;
  width: 250px;
  background-color: #fff;
}

.sidebar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.sidebar__btn:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.sidebar__btn-img {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.list-elem {
  font-size: 20px;
}

.list-elem__name {
  word-break: break-word;
}

.list-elem__counter {
  color: #7d93c8;
}

.list-elem__progress {
  grid-column: 1 / -1;
  width: 100%;
  height: 2px;
  background-color: #ccc;
}

.list-elem__progress_blue {
  height: 100%;
  background-color: #7d93c8;
}

.list-elem__options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
}

.list-elem__options:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.list-elem__options:active {
  -webkit-box-shadow: 0 0 2px #333 inset;
          box-shadow: 0 0 2px #333 inset;
}

.list-elem__options-list {
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
  background-color: #ccc;
}

.list-elem__options-list_is-open {
  display: block;
}

.list-elem__options-list-elem {
  display: block;
  padding: 5px;
  width: 100%;
  color: #000;
}

.list-elem__options-list-elem:hover {
  -webkit-box-shadow: 0 0 0 1px #000 inset;
          box-shadow: 0 0 0 1px #000 inset;
  background-color: #eee;
}

.trash-btn {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: #666;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: transparent;
  text-transform: uppercase;
}

.trash-btn:hover {
  background-color: #ddd;
}

.trash-btn:active {
  -webkit-box-shadow: 0 0 2px #333 inset;
          box-shadow: 0 0 2px #333 inset;
}

.settings__acc {
  display: block;
  padding: 0;
  cursor: default;
}

.settings__acc-info {
  padding: 20px;
  color: #fff;
  background-color: #7d93c8;
}

.settings__acc-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.settings__acc-email {
  font-size: 10px;
}

.settings__acc-text {
  margin: 20px 20px 10px;
  font-size: 10px;
}

.settings__acc-name-change {
  width: 100%;
  font-size: 16px;
  line-height: 2;
  border-bottom: 2px solid #7d93c8;
}

.settings__acc-name-change-wrapper {
  margin: 0 20px 20px;
}

.settings__item {
  font-size: 16px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 20px;
  height: 20px;
}

.checkbox:checked + label::before {
  border-color: #7d93c8;
  background-color: #7d93c8;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox__label {
  vertical-align: middle;
}

.checkbox__label::before {
  content: '';
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 20px;
  height: 20px;
  background: #e1e5ea;
  background-position: center center;
  border: 1px solid #32448c;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.shoplist__name {
  width: 70%;
  font-size: 25px;
  line-height: 2;
  background-color: transparent;
}

.shoplist__to-buy {
  width: 70%;
  background-color: #fff;
}

.shoplist__purchase {
  width: 70%;
  background-color: #aaa;
}

.shoplist__add-item {
  position: relative;
  padding: 10px 20px 10px 60px;
  width: 70%;
  height: 50px;
  background-color: #fff;
}

.shoplist__add-input {
  padding: 10px;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.shoplist__add-input-label {
  position: absolute;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 700;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7d93c8;
}

.shoplist__item {
  padding: 10px 20px 10px 25px;
  border-top: 1px solid #aaa;
}

.shoplist__item-name {
  display: grid;
  grid-template-columns: auto 1fr 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.shoplist__item-name-text {
  font-size: 18px;
  word-break: break-word;
  line-height: 1.2;
  vertical-align: middle;
}

.shoplist__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 20px;
}

.shoplist__item-quantity {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 50px;
  font-size: 16px;
}

.shoplist__item-quantity_purchase {
  margin-right: -5px;
  font-size: 16px;
}

.shoplist__item-quantity-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #7d93c8;
}

.shoplist__item-unit {
  background-color: transparent;
  margin-left: 10px;
  font-size: 16px;
}

.shoplist__item-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.shoplist__item-delete-img {
  width: 100%;
  height: 100%;
}

.shoplist__item_purchase {
  background-color: #aaa;
}

.drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: relative;
}

.drop > span,
.drop > span::before,
.drop > span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #32448c;
}

.drop > span::before {
  content: '';
  top: -10px;
}

.drop > span::after {
  content: '';
  top: 10px;
}

.add-list-btn {
  position: fixed;
  z-index: 2;
  top: 35px;
  right: calc((100vw - 250px) / 10 * 1.5 - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  background-color: #32448c;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.5);
}

.modal_is-open {
  display: block;
}

.modal__form {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 100%;
  background-color: #fff;
}

.modal__title {
  color: #7d93c8;
}

.modal__input {
  margin-top: 5px;
  padding: 5px 0;
  font-size: 18px;
  line-height: 1.5;
  border-bottom: 2px solid #7d93c8;
}

.modal__btns {
  margin-top: 15px;
  margin-left: auto;
}

.modal__btn {
  margin-left: 15px;
  padding: 10px;
  text-transform: uppercase;
  background-color: transparent;
}

.modal-sidebar {
  display: block;
}

.modal-sidebar__list {
  width: 250px;
  height: 100%;
  background-color: #fff;
}

.authorization {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.5);
}

.authorization__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: auto;
  padding: 20px;
  width: 320px;
  border-radius: 30px;
  background-color: #fff;
}

.authorization__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
  background-color: #7d93c8;
}

.authorization__title {
  font-size: 16px;
  font-weight: 500;
}

.authorization__input {
  margin-top: 15px;
  padding: 5px;
  width: 70%;
  text-align: center;
  border-bottom: 1px solid #7d93c8;
  font-size: 14px;
  line-height: 1.2;
}

.authorization__forget {
  margin-top: 15px;
  font-size: 12px;
  font-style: italic;
  color: #888;
}

.authorization__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  width: 70%;
}

.authorization__btn {
  padding: 10px;
  width: 50%;
  text-align: center;
}

.authorization__btn_sign-in {
  color: #fff;
  background-color: #7d93c8;
}

.authorization__btn_sign-up {
  color: #7d93c8;
}

.authorization_is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hello {
  padding: 20px;
  font-size: 16px;
  line-height: 1.2;
}

.hello__technologies {
  margin: 7px 0;
  font-size: 18px;
  font-weight: 700;
}

.hello__btn {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 7px;
  background-color: #7d93c8;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hello__btn:hover {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }

  .logo {
    margin-right: auto;
  }

  .burger-menu {
    display: block;
  }

  .main {
    padding: 60px 0 0;
  }

  .content {
    padding: 0 20px;
  }

  .list-elem,
  .settings__acc,
  .settings__item,
  .shoplist__add-item,
  .shoplist__name,
  .shoplist__to-buy,
  .shoplist__purchase {
    width: 100%;
  }

  .add-list-btn {
    top: auto;
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 550px) {
  .trash-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .trash-btn {
    font-size: 12px;
  }
}